<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
      class="form-control"
    >
      <label for="name">Название продукта:</label>
      <input id="name" type="text" formControlName="name">
      <div
        *ngIf="form.get('name').touched && form.get('name').invalid"
        class="validation"
      >
        <small
          *ngIf="form.get('name').errors.required"
        >Введите название продукта</small>
      </div>
    </div>

    <div class="form-control">
      <label for="company">Название компании:</label>
      <input id="company" type="text" formControlName="company">
    </div>

    <div
            [ngClass]="{invalid: form.get('price').touched && form.get('price').invalid}"
            class="form-control"
    >
      <label for="price">Цена продукта:</label>
      <input id="price" type="numeric" formControlName="price">
      <div
              *ngIf="form.get('price').touched && form.get('price').invalid"
              class="validation"
      >
        <small
                *ngIf="form.get('price').errors.required"
        >Введите цену продукта</small>
      </div>
    </div>

    <button
      [disabled]="form.invalid || submitted"
      type="submit"
      class="btn btn-primary"
    >Обновить</button>
  </form>

</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>

