<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание нового продукта</h1>

  <div
    [ngClass]="{invalid: form.get('name').touched && form.get('name').invalid}"
    class="form-control"
  >
    <label for="name">Название продукта:</label>
    <input id="name" type="text" formControlName="name">
    <div
      *ngIf="form.get('name').touched && form.get('name').invalid"
      class="validation"
    >
      <small
        *ngIf="form.get('name').errors.required"
      >Введите название продукта</small>
    </div>
  </div>

  <div
    [ngClass]="{invalid: form.get('company').touched && form.get('company').invalid}"
    class="form-control"
  >
    <label for="company">Название компании:</label>
    <input id="company" type="text" formControlName="company">
    <div
      *ngIf="form.get('company').touched && form.get('company').invalid"
      class="validation"
    >
      <small
        *ngIf="form.get('company').errors.required"
      >Введите название компании</small>
    </div>
  </div>

  <div
          [ngClass]="{invalid: form.get('price').touched && form.get('price').invalid}"
          class="form-control"
  >
    <label for="price">Цена продукта:</label>
    <input id="price" type="number" formControlName="price">
    <div
            *ngIf="form.get('price').touched && form.get('price').invalid"
            class="validation"
    >
      <small
              *ngIf="form.get('price').errors.required"
      >Введите цену продукта</small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
    >Создать пост</button>
</form>
