<div *ngIf="product$ | async as product; else loading">
  <div class="product">
    <div class="header">
      <h1>{{ product.name }}</h1>
      <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
      <strong>{{ product.company }}</strong>
      <small>{{ product.price | currency:'USD' }}</small>
    </div>

  </div>

  <button *ngIf="this.auth.isAuthenticated()"
          (click)="addToCart(product)"
          class="btn btn-success"
  >Добавить в корзину</button>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка продукта...</p>
</ng-template>
