<div *ngIf="product$ | async as product; else loading">
  <div class="product">
    <div class="header">
      <h1>{{ product.name }}</h1>
      <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
      <strong>{{ product.company }}</strong>
      <small>{{ product.price | currency:'USD' }}</small>
    </div>
    
    <!--<div>
      <quill-view-html [content]="product.text"></quill-view-html>
    </div>-->
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка продукта...</p>
</ng-template>
