<app-alert [delay]="1000"></app-alert>
<nav class="navbar bg-primary">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Angular Blog</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/cart']">Корзина ({{ totalAmount | currency:'USD' }})</a>
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="['/admin']">Админка</a>
    </li>

    <li *ngIf="auth.isAuthenticated(); else signIn" routerLinkActive="active">
      <a href="#" (click)="logout($event)">Выйти</a>
    </li>
    <ng-template #signIn>
      <li routerLinkActive="active">
        <a [routerLink]="['/login']">Войти</a>
      </li>
    </ng-template>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

