<app-alert [delay]="3000"></app-alert>
<nav class="navbar bg-primary">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/']">Angular App</a>
    </li>
    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()">
      <a [routerLink]="['/cart']">Корзина ({{ totalAmount | currency:'USD' }})</a>
    </li>

    <li *ngIf="auth.isAuthenticated(); else signIn" routerLinkActive="active">
      <a href="#" (click)="logout($event)">Выйти</a>
    </li>
    <ng-template #signIn>
      <li routerLinkActive="active">
        <a [routerLink]="['/login']">Войти</a>
      </li>
    </ng-template>
  </ul>

  <div *ngIf="auth.user as userName">
    <h5>Привет, {{ userName }}</h5>
  </div>
  <div>
    <a [routerLink]="['/admin']">Админка</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

